$main-font: "Urbanist", sans-serif;
$brown-color: #AE8E7E;
$light-brown: #CDBEB7;

$breakpoint-xxs: 430px;
$breakpoint-xs: 500px;    // Petits écrans (téléphones)
$breakpoint-sm: 860px;    // Tablettes (mode paysage)
$breakpoint-md: 1024px;   // Petits ordinateurs portables et tablettes plus grandes
$breakpoint-lg: 1470px;   // Grands écrans (ordinateurs portables et bureau)